#dark-blue,
#hero-text {
    background-color: #1F2937;
}


header {
    margin-top: 0;
}

.header {
    display: flex;
    color: white;

}

footer {
    color: white;
    height: 40px;
}

.footer {
    padding: 5px;
    margin-bottom: 0px;
    justify-content: center;
    text-align: center;
}



#header-links h2 {
    flex-direction: row;
    font-size: smaller;
    color: #E5E7EB;
    margin-right: 130px;
    margin-left: -120px;
}

#header-links {
    margin-left: 625px;
    display: flex;
}


div {
    max-width: 100%;
}

#product-sign-up-button {
    font-weight: 600;
    color: white;
    margin-right: 240px;
    float: right;
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 4px;
    width: 100px;
    height: 32px;
    border-color: white;
    margin-top: -30px;
}

#action {
    background-color: #3882F6;
    color: white;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70px;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial;
    border-radius: 10px;
}

#action-text {
    margin-left: 120px;
}

#sign-up-text {
    font-weight: 100;
    margin-left: 120px;
}

#quote {
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    font-size: 25px;
    font-style: italic;
}

#top-middle {
    text-align: center;
}


#quote-text {
    /* margin-left: 120px !important; */
    width: 610px;
    padding-left: 200px;
    margin: 20px;
    padding-top: 50px;
    margin-left: 120px;

}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif
}

#thor-quote {
    margin-left: 630px;
    height: 70px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
}

.center {
    padding: 10px;
    font-family: Roboto;
}

.image-border {
    border: 3px solid blue;
    border-radius: 25px;
    padding: 20px;
    width: 80px;
    height: 80px;

}

img {
    width: 90px;
    height: 50px;
    max-width: 100%;
}

.img {
    width: 90px;
    float: left;
    margin-left: 2%;
    position: relative;
}

.no-height {
    min-height: 0 !important;
}


#placeholder-img {
    background: grey;
    color: whitesmoke;
    width: 400px;
    height: 200px;
    margin-left: 50px;
    margin-right: 100px;
    margin-bottom: 80px;
    margin-top: 115px;
    padding-left: -50px;
    padding-right: 50px;
}

#placeholder-img p {
    margin: 70px;
    text-align: center;
    width: 300px;
    font-size: 18px;
}

.img p {
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 5px 0px;
    margin: 0px
}

#quote div {
    margin-right: 60px;
    margin-left: 60px
}

#display-block {
    display: block !important;
    white-space: pre-wrap;
}

.product-images {
    margin-left: 90px;
}

div.product-images {
    max-width: 800px;
}

p#display-block {
    max-width: 71%;
}

section #top-middle {
    padding-right: 250px;
}

#images {
    padding-left: 200px;
}

#hero-text {
    color: #f9faf8;
    font-weight: bolder;
    font-size: 25px;
    justify-content: left;
    display: flex;
    padding-left: 200px;
}

h2 {
    font-size: small;
    font-weight: 100;
}

#hero-text button {
    color: white;
    background-color: rgb(48, 108, 198);
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 2px solid rgb(48, 108, 198);
    font-weight: bold;
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 100px;
}



#main-title h1 {
    width: 270px;
    margin-top: 100px;
    margin-bottom: -10px;
    /* margin-left: 175px;
    margin-top: 100px; */
}

#main-title p {
    margin-bottom: 0;
    width: 470px;
    font-size: 18px;
    color: #b5b7bb;
    font-weight: 50;

}